main {
	position: relative;
	height: 600px;
	width: 960px;
	border: 2px solid black;
	margin: 0 auto;
}

.paddle {
	position: absolute;
	background-color: black;
	height: 20px;
	width: 100px;
	bottom: 5px;
	left: 430px;
}